<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script data-main="view.js" src="../../boot.js" type="text/javascript"></script>
    <style type="text/css">
        .activity-editor {
            display: none;
            padding: 10px;
        }

        .process-editor {
            display: block;
        }
    </style>
</head>
<body>
<div class="mini-splitter" style="width:100%;height:100%;">
    <div size="60%" showCollapseButton="false" style="padding:5px;">
        <iframe class="diagram-viewer" style="border: 0;width: 100%;height: 100%" frameborder="0"></iframe>
    </div>
    <div showCollapseButton="true">
        <div id="user-task-form" class="mini-fit dynamic-form  user-task activity-editor mini-clearfix">
            <h2 align="center" class="activity-name"></h2>
            <div class="mini-col-12 form-component">
                <div class="form-item brick"><label class="form-label">动态表单</label>
                    <div class="input-block component-body">
                        <input name="formId" textName="formId" style="width: 100%" class="mini-buttonedit" plain="true" iconCls="icon-edit"/>
                    </div>
                </div>
            </div>
            <div class="mini-col-12 form-component">
                <div class="form-item brick"><label class="form-label">表单页面模板</label>
                    <div class="input-block component-body">
                        <input name="formTemplateId" textName="formTemplateId" style="width: 100%" class="mini-buttonedit" plain="true" iconCls="icon-edit"/>
                    </div>
                </div>
            </div>
            <div class="mini-col-12 form-component">
                <div class="mini-col-12 form-component">
                    <div class="form-item brick"><label class="form-label">候选人设置</label>
                        <div class="input-block component-body">
                            <span style="margin-left: 1em"></span>
                            <a class="mini-button save-candidate-button" plain="true" iconCls="icon-edit"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="process-form" class="mini-fit dynamic-form activity-editor process-editor mini-clearfix">
            <h2 align="center">流程设置</h2>
            <div class="mini-col-12 form-component">
                <div class="form-item brick"><label class="form-label">动态表单</label>
                    <div class="input-block component-body">
                        <a name="formId" textName="formId" style="width: 100%" class="mini-buttonedit" plain="true" iconCls="icon-edit"></a>
                    </div>
                </div>
            </div>
            <div class="mini-col-12 form-component">
                <div class="form-item brick"><label class="form-label">表单页面模板</label>
                    <div class="input-block component-body">
                        <a name="formTemplateId" textName="formTemplateId" style="width: 100%" class="mini-buttonedit" plain="true" iconCls="icon-edit"></a>
                    </div>
                </div>
            </div>
            <div class="mini-col-12 form-component">
                <div class="form-item brick"><label class="form-label">权限设置</label>
                    <div class="input-block component-body">
                        <span style="margin-left: 1em"></span>
                        <a class="mini-button" plain="true" iconCls="icon-edit"></a>
                    </div>
                </div>
            </div>
        </div>

        <div style="width: 100px;margin: auto">
            <a class="mini-button save-button" plain="true" iconCls="icon-save">保存</a>
        </div>
    </div>
</div>
<div id="candidate-window" class="mini-window" title="候选人设置" allowResize="true" style="width: 500px;height: 500px" showFooter="true">
    <div property="footer" style="padding:5px;">
        <a class="mini-button save-candidate">保存</a> <a class="mini-button" onclick='mini.get("candidate-window").close()' plain="true">关闭</a>
    </div>
    <div id="candidate-form" class="mini-fit mini-clearfix dynamic-form">
        <div class="mini-col-12 form-component">
            <div class="form-item form-text brick"><label class="form-label">固定人员 <i class="fa fa-plus select-person" style="cursor: pointer"></i></label>
                <div class="input-block component-body">
                    <input id="personCandidate" allowInput="false" inputmode="true"
                           class="mini-textboxlist"
                           name="personCandidate" textName="name" style="width:100%;height:50px"
                           valueField="id" textField="name"/>
                </div>
            </div>
        </div>
        <div class="mini-col-12 form-component">
            <div class="form-item form-text brick">
                <label class="form-label">岗位 <i class="fa fa-plus"></i></label>
                <div class="input-block component-body">
                    <input id="positionCandidate" class="mini-textboxlist"
                           name="positionCandidate" textName="name" style="width:100%;height:50px"
                           valueField="id" textField="name"/>
                </div>
            </div>
        </div>
        <div class="mini-col-12 form-component">
            <div class="form-item form-text brick">
                <label class="form-label">部门 <i class="fa fa-plus"></i></label>
                <div class="input-block component-body">
                    <input id="departmentCandidate" class="mini-textboxlist"
                           name="departmentCandidate" textName="name" style="width:100%;height:50px"
                           valueField="id" textField="name"/>
                </div>
            </div>
        </div>
        <!--<div class="mini-col-12 form-component">-->
        <!--<div class="form-item form-text brick">-->
        <!--<label class="form-label">自定义</label>-->
        <!--<div class="input-block component-body">-->
        <!--<input id="scriptCandidate" class="mini-textarea"-->
        <!--name="scriptCandidate" textName="name"  style="width:100%;height:80px"-->
        <!--valueField="id" textField="name"/>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>

</body>
</html>
