.form-item {
    width: 99.8%
}

.form-label {
    float: left;
    display: block;
    padding: 9px 15px;
    width: 80px;
    font-weight: 400;
    line-height: 10px;
    text-align: center;
    border: 1px solid #ddd;
    background: #FBFBFB;
    /*border-right: 0px;*/
}

.input-block .mini-textbox-border {
    border-left: 0px;
}

.form-text .form-label {
    float: none;
    width: 100%;
    border-radius: 2px;
    box-sizing: border-box;
    text-align: left;
    border-bottom: 0px;
}

.input-block {
    position: relative;
    margin-left: 112px
}

.form-item {
    margin-top: 5px;
}

.form-text .input-block {
    margin-left: 0px;
}
