.mini-outlookbar-border {
    border: 0;
}

.mini-splitter {
    border: 0;
}

.dynamic-form .form-hidden {
    display: block;
}

.edit-focus {
    /*border: 1px solid red;*/
    color: red;
}
.remove-component{
    margin-top: 10px;
}
.cut-component{
    margin-top: 10px;
}
.paste-component{
    margin-top: 10px;
}