html, body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.text-default {
    color: rgba(0,0,0,0.65) !important;
}
.text-primary {
    color: #1890ff !important;
}
.text-danger {
    color: #d9534f !important;
}
.text-success {
    color: #5cb85c !important;
}
.text-warning {
    color: #f0ad4e !important;
}

.basic-info {
    margin: auto;
}

.basic-info .label {
    font-size: 16px;
    /*text-align: right;*/
}

.title-button {
    width: 18px;
    height: 18px;
    overflow: hidden;
    margin: auto;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.action-button {
    font-size: 16px !important;
    cursor: pointer;
    display: inline-block;
    line-height: 16px;
    margin-left: 1em;
    width: 16px;
    height: 16px;
    background-position: 50% 50%;
    color: #1890ff;
}

.label {
    text-align: right;
}
.search-container{
    margin: auto;
}

